.item {
    color: #333;
    margin: 10px;
    margin-top: 20px;
}
.item img {
    width: 60px;
    border-radius: 50%;
}
.likes {
    margin: 10px;
}
.likes img {
    width: 20px;
    border-radius: 0;
    margin-right: 5px;
}